In [2]:
### Import required packages ###
import pandas as pd
import numpy as np

In [33]:
### Read CSV file Utah.csv ###
df = pd.read_csv('Utah.csv')

In [41]:
df = pd.read_csv('Utah.csv', usecols=['STATE', 'COUNTY','FIPS','RPL_THEMES','F_TOTAL'])

In [42]:
df_subset = df[['STATE', 'COUNTY','FIPS','RPL_THEMES','F_TOTAL']]
df_subset

    STATE     COUNTY         FIPS  RPL_THEMES  F_TOTAL
0    UTAH  Salt Lake  49035112818   -999.0000     -999
1    UTAH  Salt Lake  49035980000   -999.0000     -999
2    UTAH     Tooele  49045980000   -999.0000     -999
3    UTAH       Utah  49049980100   -999.0000     -999
4    UTAH       Utah  49049010217      0.0000        1
..    ...        ...          ...         ...      ...
583  UTAH  Salt Lake  49035113406      0.9931        7
584  UTAH      Weber  49057200900      0.9949       11
585  UTAH   San Juan  49037942100      0.9966       10
586  UTAH  Salt Lake  49035100306      0.9983       11
587  UTAH       Utah  49049002801      1.0000        8

[588 rows x 5 columns]

In [43]:
df_subset.to_csv('utah_data_SVI.csv', index=False)

In [ ]:
# merge the dataframes based on their FIPS codes
# read in the two dataframes
df1 = pd.read_csv('Jonathan_dataframe.csv')
df2 = pd.read_csv('utah_data_SVI.csv')

merged_df = pd.merge(df1, df2, on='FIPS')