In [1]:
import pandas as pd

In [2]:
EPA_HI_df = pd.read_excel(r'Data\2018_National_AllHI_by_tract.xlsx')

In [3]:
EPA_HI_df.head()

,Tract,Population,Respiratory HI,Neurological HI,Liver HI,Developmental HI,Reproductive HI,Kidney HI,Ocular HI,Endocrine HI,Hematological HI,Immunological HI,Skeletal HI,Spleen HI,Thyroid HI,Whole Body HI
0,0,312566557,0.319716,0.030520,0.006215,0.036205,0.045228,0.004195,0.000023,0.000004,1.355351e-06,0.013795,0.000148,0.000098,0.008861,0.000307
1,1000000000,4779636,0.423856,0.024985,0.005997,0.023824,0.029644,0.003373,0.000005,0.000004,3.155345e-07,0.010733,0.000099,0.000125,0.004825,0.000104
2,1001000000,54571,0.462762,0.027398,0.006017,0.028027,0.034849,0.002813,0.000005,0.000001,7.606420e-08,0.010162,0.000049,0.000002,0.006921,0.000111
3,1001020100,1912,0.465747,0.028236,0.005998,0.029140,0.037105,0.002778,0.000006,0.000001,8.274212e-08,0.009670,0.000070,0.000003,0.007916,0.000114
4,1001020200,2170,0.475473,0.032008,0.006301,0.032772,0.041201,0.003201,0.000007,0.000001,9.343610e-08,0.010657,0.000067,0.000003,0.009236,0.000116

In [4]:
EPA_HI_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76726 entries, 0 to 76725
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tract             76726 non-null  int64
 1   Population        76726 non-null  int64
 2   Respiratory HI    76726 non-null  float64
 3   Neurological HI   76726 non-null  float64
 4   Liver HI          76726 non-null  float64
 5   Developmental HI  76726 non-null  float64
 6   Reproductive HI   76726 non-null  float64
 7   Kidney HI         76726 non-null  float64
 8   Ocular HI         76726 non-null  float64
 9   Endocrine HI      76726 non-null  float64
 10  Hematological HI  76726 non-null  float64
 11  Immunological HI  76726 non-null  float64
 12  Skeletal HI       76726 non-null  float64
 13  Spleen HI         76726 non-null  float64
 14  Thyroid HI        76726 non-null  float64
 15  Whole Body HI     76726 non-null  float64
dtypes: float64(14), int64(2)
memory usage: 9.4 MB

In [5]:
utah_df = EPA_HI_df[(EPA_HI_df.Tract >= 49000000000) & (EPA_HI_df.Tract < 50000000000)]

In [6]:
final_utah_HI_2018 = utah_df[['Tract','Respiratory HI']]
final_utah_HI_2018.head()

             Tract  Respiratory HI
69241  49000000000        0.266520
69242  49001000000        0.108684
69243  49001100100        0.104816
69244  49001100200        0.113938
69245  49003000000        0.173659