In [1]:
import pandas as pd

In [27]:
data = pd.read_csv("WalkingData.csv")
print(data.head())

   OBJECTID       GEOID10       GEOID20  STATEFP  COUNTYFP  TRACTCE  BLKGRPCE  \
0    204254  4.904200e+11  4.904200e+11       49        41   975300         1
1    204255  4.904200e+11  4.904200e+11       49        41   975500         2
2    204256  4.900500e+11  4.900500e+11       49         5      702         1
3    204257  4.904900e+11  4.904900e+11       49        49     3106         1
4    204258  4.900500e+11  4.900500e+11       49         5      600         4

     CSA                       CSA_Name     CBSA  ...    D5DRI     D5DE  \
0    NaN                            NaN      NaN  ... -99999.0 -99999.0
1    NaN                            NaN      NaN  ... -99999.0 -99999.0
2    NaN                            NaN  30860.0  ... -99999.0 -99999.0
3  482.0  Salt Lake City-Provo-Orem, UT  39340.0  ... -99999.0 -99999.0
4    NaN                            NaN  30860.0  ... -99999.0 -99999.0

     D5DEI  D2A_Ranked  D2B_Ranked  D3B_Ranked  D4A_Ranked  NatWalkInd  \
0 -99999.0          18          20           2           1    7.333333
1 -99999.0           6           5           1           1    2.500000
2 -99999.0           1           1          18           1    6.666667
3 -99999.0          14           4          12           1    7.333333
4 -99999.0           3          13          20           1    9.666667

    Shape_Length    Shape_Area
0   64833.060440  1.338399e+08
1  165433.617500  7.875763e+08
2    3085.665180  5.044389e+05
3    5264.257831  1.066306e+06
4    2433.460138  3.162543e+05

[5 rows x 117 columns]

In [22]:
data_2 = data[["STATEFP", "COUNTYFP", "TRACTCE", "NatWalkInd"]]
data_2.head()

   STATEFP  COUNTYFP  TRACTCE  NatWalkInd
0       49        41   975300    7.333333
1       49        41   975500    2.500000
2       49         5      702    6.666667
3       49        49     3106    7.333333
4       49         5      600    9.666667

In [24]:
data_2['FIPS'] = data_2.iloc[:,0:3].apply(
    lambda x: ''.join(x.astype(str)),axis=1)
data_2.head()

/var/folders/fp/mr0bdnzj09vb9z68d9kw00m40000gn/T/ipykernel_32973/2094830116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['FIPS'] = data_2.iloc[:,0:3].apply(

   STATEFP  COUNTYFP  TRACTCE  NatWalkInd        FIPS
0       49        41   975300    7.333333  4941975300
1       49        41   975500    2.500000  4941975500
2       49         5      702    6.666667      495702
3       49        49     3106    7.333333    49493106
4       49         5      600    9.666667      495600

In [26]:
final_walkability_data = data_2[["FIPS", "NatWalkInd"]]
final_walkability_data.head()

         FIPS  NatWalkInd
0  4941975300    7.333333
1  4941975500    2.500000
2      495702    6.666667
3    49493106    7.333333
4      495600    9.666667