In [1]:
import pandas as pd

In [2]:
# extract geo id from race data and merge with gini index
race_df = pd.read_csv(r'Data\C02003_Detailed Race--Data.csv')

In [3]:
race_df = race_df.drop(index=0)

In [4]:
race_df = race_df.reset_index(drop=True)

### 2018 gini index data
---------

In [5]:
gini_df = pd.read_excel(r'Data\Gini_2018_modified.xlsx','Data')

In [6]:
gini_df.head()

                                        name gini_index
0     Census Tract 1001, Beaver County, Utah     0.4095
1     Census Tract 1002, Beaver County, Utah     0.3306
2  Census Tract 9601, Box Elder County, Utah     0.4058
3  Census Tract 9602, Box Elder County, Utah     0.3215
4  Census Tract 9603, Box Elder County, Utah     0.3355

In [7]:
gini_df[['GEO_ID','NAME']] = race_df[['GEO_ID','NAME']]

In [8]:
gini_df

,name,gini_index,GEO_ID,NAME
0,"Census Tract 1001, Beaver County, Utah",0.4095,1400000US49001100100,"Census Tract 1001, Beaver County, Utah"
1,"Census Tract 1002, Beaver County, Utah",0.3306,1400000US49001100200,"Census Tract 1002, Beaver County, Utah"
2,"Census Tract 9601, Box Elder County, Utah",0.4058,1400000US49003960100,"Census Tract 9601, Box Elder County, Utah"
3,"Census Tract 9602, Box Elder County, Utah",0.3215,1400000US49003960200,"Census Tract 9602, Box Elder County, Utah"
4,"Census Tract 9603, Box Elder County, Utah",0.3355,1400000US49003960300,"Census Tract 9603, Box Elder County, Utah"
...,...,...,...,...
583,"Census Tract 2109, Weber County, Utah",0.3556,1400000US49057210900,"Census Tract 2109, Weber County, Utah"
584,"Census Tract 2110, Weber County, Utah",0.3006,1400000US49057211000,"Census Tract 2110, Weber County, Utah"
585,"Census Tract 2111, Weber County, Utah",0.4218,1400000US49057211100,"Census Tract 2111, Weber County, Utah"
586,"Census Tract 2112.01, Weber County, Utah",0.4046,1400000US49057211201,"Census Tract 2112.01, Weber County, Utah"
587,"Census Tract 2112.02, Weber County, Utah",0.4150,1400000US49057211202,"Census Tract 2112.02, Weber County, Utah"

In [9]:
# check to ensure all names match (should be empty df)
gini_df[(gini_df['name'] != gini_df['NAME'])]

Empty DataFrame
Columns: [name, gini_index, GEO_ID, NAME]
Index: []

In [10]:
gini_df['FIPS'] = gini_df['GEO_ID'].str[-11:]

In [11]:
gini_2018 = gini_df[['FIPS','gini_index']]

In [12]:
gini_2018.head()

          FIPS gini_index
0  49001100100     0.4095
1  49001100200     0.3306
2  49003960100     0.4058
3  49003960200     0.3215
4  49003960300     0.3355

---------
### 2019 data

In [13]:
gini_df = pd.read_excel(r'Data-2019\Gini_2019_modified.xlsx','Data')

In [14]:
gini_df[['GEO_ID','NAME']] = race_df[['GEO_ID','NAME']]

In [15]:
# check to ensure all names match (should be empty df)
gini_df[(gini_df['name'] != gini_df['NAME'])]

Empty DataFrame
Columns: [name, gini_index, GEO_ID, NAME]
Index: []

In [16]:
gini_df['FIPS'] = gini_df['GEO_ID'].str[-11:]

In [17]:
gini_2019 = gini_df[['FIPS','gini_index']]

In [18]:
gini_2019.head()

          FIPS gini_index
0  49001100100     0.4012
1  49001100200     0.3776
2  49003960100     0.3966
3  49003960200     0.3259
4  49003960300     0.3355